@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

html {
  height: 100%;
  overflow: hidden;
}
h1 {
  text-align: center;
}

.info {
  padding: 10% 30% 0;
  text-align: center;
}
p {
  margin-bottom: 0;
  text-align: center;
}
.form-signin {
  padding: 10%;
  margin-top: 15%;
  margin-bottom: 20%;
}
.card-body {
  padding-right: 20%;
  padding-left: 20%;
}
.form-label {
  padding-top: 3%;
}
body {
  min-height: 100%;
  font-family: "Rubik", sans-serif;
}
.signup {
  /* background-image: url(../images/grocery-store.jpg);
  background-size: cover;
  border: none; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  background-image: url(../../images/backgrounds/grocery-store.jpg);
  background-size: cover;
}
.signup form {
  background-color: white;
  padding-top: 10%;
}

.signup .info {
  background-color: white;
  padding-bottom: 0;
}
.btn {
  margin-right: 3%;
}
@media (max-width: 1100px) and (min-width: 700px) {
  .card-body {
    padding: 0 30% 0 30%;
  }
}

@media (max-width: 4000px) and (min-width: 1100px) {
  .card-body {
    padding: 0% 35% 0% 35%;
  }
}
